header{
    margin: 0 auto;
    text-align: center;
    padding-top: 300px;
}
header h1{
    margin: 0px;
    font-size: 4rem;
    color: rgb(33, 37, 41);
    font-style: bold;
    font-family:serif;
}
header p{
    font-weight: 700;
    font-size: 2rem;
    color: rgb(33, 37, 41);
    margin-bottom: 30px;
    font-style: italic;
    font-family:serif;
}
header a{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    font-weight: 700;
    background-color: #a1a1a1;
    border-color: #ECEFF1;
    color: #fff;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: .25rem;
    display: inline-block;
}